{% extends "AppSitio/home.html" %}


{% block principal %}

<h1 class="display-5 fw-bolder text-white mb-2">Clientes</h1>
<p class="lead text-white-50 mb-4">Alguna frase copada....</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center"></div>

{% endblock principal %}




{% block agregar %}

<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'clienteForm' %}">Cliente nuevo</a>
<br>
<br>
<br>
<br>

    <table class="table text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
    {% for c in clientes %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.apellido }}</td>
                <td>{{ c.email }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock agregar %}