{% extends "AppSitio/home.html" %}


{% block principal %}

<h1 class="display-5 fw-bolder text-white mb-2">ElectroLab</h1>
<p class="lead text-white-50 mb-4">Nosotros</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center"></div>

{% endblock principal %}




{% block agregar %}

<section id="nosotros">
    <p style="color: white;">En ElectroLab, nos dedicamos a proporcionar soluciones confiables y eficientes para una amplia gama de dispositivos electrónicos. Con un enfoque tanto en el ámbito doméstico como en el profesional y empresarial, nos esforzamos por ofrecer servicios y productos que satisfagan las necesidades individuales de cada cliente.</p>
    <p style="color: white;">Nuestro equipo está compuesto por expertos en tecnología que están comprometidos con la excelencia y la innovación. Desde la reparación y el mantenimiento hasta la personalización y la consultoría, estamos aquí para ayudar a nuestros clientes a maximizar el rendimiento y la funcionalidad de sus dispositivos electrónicos.</p>
    <p style="color: white;">En ElectroLab, creemos en la importancia de la atención al cliente y la satisfacción del mismo. Nos enorgullece ofrecer un servicio personalizado y orientado a soluciones, respaldado por años de experiencia en el campo de la electrónica.</p>
</section>

{% endblock agregar %}