{% extends "AppSitio/home.html" %}


{% block principal %}

<h1 class="display-5 fw-bolder text-white mb-2">Técnicos</h1>
<p class="lead text-white-50 mb-4">Listado de técnicos</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center"></div>

{% endblock principal %}




{% block agregar %}

<div style="display: flex; justify-content: space-between;">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'tecnicoForm' %}">Técnico nuevo</a>
    
    <form action="{% url 'buscarTecnicos' %}" method="get">
        {% csrf_token %}
        <input type="submit" value=" Buscar técnico ">
        <input type="text" name="buscar" id="buscar" required> 
    </form>
</div>

<br>
<br>

    <table class="table text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
    {% for tec in tecnicos %}
            <tr>
                <td>{{ tec.id }}</td>
                <td>{{ tec.nombre }}</td>
                <td>{{ tec.apellido }}</td>
                <td>{{ tec.email }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock agregar %}