{% extends "AppSitio/home.html" %}


{% block principal %}

<h1 class="display-5 fw-bolder text-white mb-2">Ordenes de trabajo</h1>
<p class="lead text-white-50 mb-4">Listado de OT en taller, en reparación y finalizadas</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center"></div>

{% endblock principal %}




{% block agregar %}

<div style="display: flex; justify-content: space-between;">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'trabajoForm' %}">Nueva OT</a>
    
    <form action="{% url 'buscarTrabajos' %}" method="get">
        {% csrf_token %}
        <input type="submit" value=" Buscar OT ">
        <input type="text" name="buscar" id="buscar" required> 
    </form>
</div>

<br>
<br>

    <table class="table text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dispositivo / Marca</th>
                <th>Falla</th>
                <th>Observaciones</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
    {% for t in trabajos %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.dispositivo }}</td>
                <td>{{ t.falla }}</td>
                <td>{{ t.observaciones }}</td>
                <td>{{ t.estado }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock agregar %}