{% extends "AppSitio/home.html" %}


{% block principal %}

<h1 class="display-5 fw-bolder text-white mb-2">Trabajos</h1>
<p class="lead text-white-50 mb-4">Alguna frase copada....</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center"></div>

{% endblock principal %}




{% block agregar %}

<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'trabajoForm' %}">Nueva OT</a>
<br>
<br>
<br>
<br>

    <table class="table text-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dispositivo / Marca</th>
                <th>Falla</th>
                <th>Observaciones</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
    {% for t in trabajos %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.dispositivo }}</td>
                <td>{{ t.falla }}</td>
                <td>{{ t.observaciones }}</td>
                <td>{{ t.estado }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock agregar %}